beautifulsoup4==4.13.3 # used by a lot of scripts to parse html
deepdiff==8.0.1 # used in update.py
html5lib==1.1 # used in conjunction with beautifulsoup4
mwparserfromhell==0.6.6 # used in unrealircd.py
packaging==24.2 # used in latest.py
playwright==1.51.0 # used by a few scripts to parse html
pre-commit==3.5.0 # used to check code before commit
python-frontmatter==1.1.0 # used in endoflife.py to parse products YAML frontmatters
python-liquid==1.12.1 # used in endoflife.py to render version templates
requests==2.32.3 # used in http.py to make HTTP requests simpler
requests-futures==1.0.2 # used in http.py to be able to make async HTTP requests
requests-cache==1.2.1 # used in http.py to be able to cache HTTP requests
ruamel.yaml==0.18.10 # used in latest.py
ruamel.yaml.clib==0.2.12 # used in latest.py
soupsieve==2.6 # used in conjunction with beautifulsoup4
