beautifulsoup4==4.12.2
cffi==1.15.1
html5lib==1.1
Markdown==3.4.4
mwparserfromhell==0.6.4
pycparser==2.21
pygit2==1.12.2
python-dateutil==2.8.2
python-frontmatter==1.0.0
python-liquid==1.9.2
PyYAML==6.0
six==1.16.0
soupsieve==2.4.1
typing_extensions==4.7.0
webencodings==0.5.1
requests-html==0.10.0
