beautifulsoup4==4.12.2
cffi==1.16.0
html5lib==1.1
Markdown==3.5.1
mwparserfromhell==0.6.5
pycparser==2.21
pygit2==1.13.3
python-dateutil==2.8.2
python-frontmatter==1.0.1
python-liquid==1.10.0
PyYAML==6.0.1
six==1.16.0
soupsieve==2.5
typing_extensions==4.8.0
webencodings==0.5.1
requests==2.31.0
requests-html==0.10.0
requests-futures==1.0.1
regex==2023.10.3
pre-commit==3.5.0
