name: Lint

on:
  push:
    branches: ['main']
  pull_request:
  workflow_dispatch: # Allows running the workflow manually from the Actions tab

permissions:
  contents: read

env:
  FORCE_COLOR: 1

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: "3.x"
      - uses: pre-commit/action@v3.0.0
