name: Update Data
on:
  push:
  schedule:
    # “At minute 17 past hour 6 and 18.”
    # https://crontab.guru/#17_6,18_*_*_*
    - cron: '17 6,18 * * *'
jobs:
  update:
    name: Update data
    runs-on: ubuntu-latest
    steps:
    - name: Get current week
      uses: josStorer/get-current-time@v2
      id: current-time
      with:
        # 2022-01 to 2022-52 for eg
        format: YYYY-ww
    - name: Cache Repositories
      uses: actions/cache@v3
      with:
        path: ~/.cache
        # The cache is reset on the first build of every week this way.
        key: "${{ steps.current-time.outputs.formattedTime }}"
    - uses: actions/checkout@v3
      name: Clone self repository
      with:
        ref: ${{ github.head_ref }}
    - uses: actions/checkout@v3
      name: Clone website
      with:
        repository: endoflife-date/endoflife.date
        path: website
        submodules: false
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.1
    - name: Update Release data
      run: |
        mkdir -p ~/.cache/{npm,git,oci} releases/{npm,git,oci} && \
        git config --global init.defaultBranch main
        git config --global extensions.partialClone true
        ruby update.rb ./website ~/.cache releases
    - uses: stefanzweifel/git-auto-commit-action@v4
      name: Commit and update new releases
      with:
        commit_message: Update Releases
        commit_author: actions-user <65916846+actions-user@users.noreply.github.com>
