name: Update Data
on:
  workflow_dispatch:
  push:
  schedule:
    # Run 4 times a day (every 6 hours)
    # At minute 17 past hour 0, 6, 12, and 18
    # https://crontab.guru/#17_6,18_*_*_*
    - cron: '17 0,6,12,18 * * *'
jobs:
  update:
    name: Update data
    runs-on: ubuntu-latest
    steps:
    - name: Get current week
      uses: josStorer/get-current-time@v2
      id: current-time
      with:
        # 2022-01 to 2022-52 for eg
        format: YYYY-ww
    - name: Cache Repositories
      uses: actions/cache@v3
      with:
        path: ~/.cache
        # The cache is reset on the first build of every week this way.
        key: "${{ steps.current-time.outputs.formattedTime }}"
    - uses: actions/checkout@v3
      name: Clone self repository
      with:
        ref: ${{ github.head_ref }}
    - uses: actions/checkout@v3
      name: Clone website
      with:
        repository: endoflife-date/endoflife.date
        path: website
        submodules: false
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.1
        bundler-cache: true
    - name: Update Release data
      run: |
        git config --global init.defaultBranch main
        git config --global extensions.partialClone true
        pip install -r requirements.txt
        python src/unrealircd.py
        python src/haproxy.py
        bundle exec ruby update.rb ./website ~/.cache releases
      id: update_releases
    - uses: stefanzweifel/git-auto-commit-action@v4
      name: Commit and update new releases
      with:
        commit_message: ${{ fromJSON(steps.update_releases.outputs.commit_message)}}
        commit_author: 'github-actions[bot] <github-actions[bot]@users.noreply.github.com>'
